.App {
  text-align: center;
  padding: 30px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}

.board {
  border: 1px solid seagreen;
}

input, button {
  padding: 20px;
  margin-bottom: 50px;
  margin-right: 10px;
}

.item {
  padding-top: 20px;
}